extends layout

block content
  // h1= title
  // p Welcome to #{title}

  div(class='message')

  div
    include left
  
    div.uk-container-center.uk-grid-1-2(id="form-container")
      include signup-form
    
      div(style="padding-top: 30px; text-align: center;")
        p By clicking on continue, you agree to our #[a(id="tncClicked" href="#tnc" data-uk-modal) Terms and Conditions].

        button(class="uk-button blue-button" id="tncAccepted") Continue 
      
  div(id="tnc" class="uk-modal")
    div(class="uk-modal-dialog")
      div(id="tos-header" class="tos-header")
        div(id="header-text-div") Privacy and Terms
      
      div(id="tos-text" class="tos-text-div")
        div(class="tos-intro-text-div")
          p By choosing “Agree” below you agree to JimmySearch’s Terms and Conditions, which describes how we process your information, including these points:
          div(class="tos-intro-separator")      
      div
        div(class="cb-heading" data-style="heading" role="heading" aria-level="2") Data we process when you use JimmySearch
        p We collect information about the services that you use and how you use them, like when you visit a website that uses our advertising services, or view and interact with our ads and content.
        ul
          li 
            h4 Device information
            p We collect device-specific information (such as your hardware model, operating system version, unique device identifiers. JimmySearch will not collect mobile network information. 
          li
            h4 Log information
            p When you use our services or view content provided by JimmySearch, we automatically collect and store certain information in server logs. This includes:
              ul
                li details of how you used our service, such as your search queries.
                li Internet protocol address.
                li device event information such as crashes, system activity, hardware settings, browser type, browser language, the date and time of your request and referral URL
                li cookies that may uniquely identify your browser or your JimmySearch Account.
          li
            h4 Location information
            p We may collect and process information about your actual location. We use various technologies to determine location, including IP address, GPS, and other sensors that may, for example, provide JimmySearch with information on nearby devices, and Wi-Fi access points.

          li
            h4 Local storage
            p We may collect and store information (including personal information) locally on your device using mechanisms such as browser web storage (including HTML 5) and application data caches.
        
        p We treat this data as personal information. You can control how we collect and use this data at “My Account”.
        div(class="tos-par-separator")
      
      div
        div(class="cb-heading" data-style="heading" role="heading" aria-level="2") Why we process it
        p We process this data for the following purposes:
        ul
          li Deliver personalised ads on JimmySearch itself
          li Deliver more useful, customised content such as more relevant search results;
          li Improve the quality of our services and develop new ones;
          li Improve security by protecting against fraud and abuse; and
          li Conduct analytics and measurement to understand how our services are used.
        div(class="tos-par-separator")
      
      div
        div(class="cb-heading" data-style="heading" role="heading" aria-level="2") Combining data
        p JimmySearch does not allow the same user to create multiple accounts. We however allow you to sign into your account across multiple devices. We also combine data across your devices for these purposes. For example, we show you ads based on information from your use of Search. We also combine data from many user’s search queries to build spell-correction models that we use across all of our services.

  script.
    $('#tncAccepted').click(function(){
      console.log('Validating form now');
      if(isValid()){
        console.log('dis dude accepts shiz yo');
      $('#time-accepted').val($.now());
      console.log('Submitting form');
      $('#signup-form')[0].submit();
      }
    });

    var isValid = function(){
      var validity = true;
    
      if($('.message').hasClass('uk-alert') ) {
        $('.message').removeClass('uk-alert').removeClass('uk-alert-danger').html("");
      }

      $('input').each(function(){
        
        // Check required fields first
        if($(this).attr('required') && $(this).val() == "") {
          validity = false;
          addError( $(this), "Required input missing! Please complete." );
        } else {
          removeError($(this));
        }

        // Check if password is complex and passwords match
        if( $(this).attr('id') == "form-password" ) {
          if(isValidPassword( $(this).val() )) {
            removeError( $(this) );
          } else {
            validity = false;
            addError( $(this), "Please enter a password with that is at least 6 characters long, with 1 uppercase character, 1 number and 1 lowercase character" )
          }
        }

        if( $(this).attr('id') == "form-passwordc" ) {
          if( $(this).val() == $('#form-password').val() ) {
            removeError( $(this) );
          } else {
            validity = false;
            addError( $(this), "Passwords must match" )
          }
        }

        // Validate date
  
        if( $(this).attr('id') == "form-birthday" ) {
          if( isValidDate( $(this).val() )) {
            removeError( $(this) );
          } else {
            validity = false;
            addError( $(this), "Please enter a valid date" )
          }
        } 
      });
      return validity;
    }

    var addError = function(element, error) {
      if( !$('.message').hasClass('uk-alert') ) {
        console.log("ADDING MESSAGE");
        $('.message').addClass('uk-alert').addClass('uk-alert-danger').html('<p>'+ error +'</p>');
      }
      if(!element.hasClass('uk-form-danger')) {
        console.log("ADDING ALERT");
        element.addClass('uk-form-danger');
      }
    }

    var removeError = function(element) {
      if(element.hasClass('uk-form-danger')) {
        element.removeClass('uk-form-danger');
      }
    }

    var isValidPassword = function(pwd){
      return (pwd.match("^(?=.*[A-Z])(?=.*[0-9])(?=.{6,})")? true : false );
    }
    var isValidDate = function(s) {
      var validity = true
      var bits = s.split('/');
      var d = new Date(bits[2], bits[1] - 1, bits[0]);
      validity = d && (d.getMonth() + 1) == bits[1];
      if(validity) {
        validity = (d < new Date($.now())) 
      }
      return validity;
    }  
  
  script.
    $('#is-tnc-clicked').val("false");
    
    $('#tncClicked').click(function(){
      console.log('click dis');
      $('#is-tnc-clicked').val("true");
      $('#time-started').val($.now());
    });
