extends layout

block content
  h1 Instructions and Participation Consent

  p You are invited to participate in this research study.
  
  p Imagine JimmySearch is a new internet service company specialising in its web search engine. Similar to popular search engines such as Google and Yahoo, users can create a free account with JimmySearch.

  p The study requires you to sign-up for a mock JimmySearch account. The sign-up process for JimmySearch is typical and similar to that of other search engines.

  p After the sign-up process is successful, you will be requested to fill in a survey as well as a post-experiment questionnaire.
  hr
  ol
    li 
      strong Project title: 
      br
      | User interaction with online sign-up processes
      br
      br
    li 
      strong Principal Investigator:
      br
      | Felicia Tan
      br
      | Yale-NUS College, Singapore
      br
      | Email: felicia.tan@u.yale-nus.edu.sg
      br
      br
    li 
      strong What is the purpose of this research?
      br
      | This experiment seeks to understand users' experiences during a typical sign-up process for online accounts
      br
      br
    li 
      strong Who can participate in the research?
      br
      | Research participants should be between the ages of 21 to 60, and be fluent in English as the experiment will be conducted in English
      br
      br
    li 
      strong What is the expected duration of my participation?
      br
      | The experiment will take not more than 20 minutes
      br
      br
    li 
      strong What is the approximate number of participants involved?
      br
      | 150 participants will be involved in this project
      br
      br
    li 
      strong What will I be requested to do as part of this experiment?
      br
      | If you participate, you may be asked to do the following:

      ol(type="a")
        li Sign-up for a mock account on an experimental search engine
        li Read the information provided
        li Complete questionnaires

      | At the end of the entire study, you will be debriefed and reimbursed for your time.
      br
      br
    li 
      strong How will my privacy and the confidentiality of my research records be protected?
      br
      | All personal information will be kept confidential and used solely for this experiment. 
      br
      | We are only interested in your interaction with the sign-up webpage. Thus, personal identifiers will be destroyed upon the completion of data collection.
      br
      br
    li 
      strong What are the possible discomforts and risks for participants?
      br
      | No discomfort is expected. If any discomfort is experienced during the mock sign-up
      | process, you are free to terminate your participation at any point in the study.
      br
      br
    li 
      strong Will there be reimbursement for participation?
      br
      | Through Amazon’s Mechanical Turk, you will be reimbursed $1.00 upon completion of the study.
      br
      br
    li
      strong What are the possible benefits to me and to others?
      br
      | There is no direct benefit to you from participating in this research. However, your participation will help us improve future designs of online sign-up pages.
      br
      br
    li 
      strong Can I refuse to participate in this research?
      br
      | Your participation in this study is completely voluntary. You are entitled to refuse to participate or discontinue participation at any time in this research.
      br
      | Should you decide to withdraw from the study, you may do so at any point without providing an explanation and all your data collected from you will be discarded and will not be further used.
      br
  hr
  p By clicking on the button below, I hereby acknowledge that:
  ul
    li I have agreed to take part in the above research.
    li I have read through the above instructions to this experiment which explains the use of my data in this research. I understand its contents and agree to donate my data for the use of this research.
    li I can withdraw from the research at any point of time by informing the Principal Investigator and all my data will be discarded.
    li I will not have any financial benefits that result from the commercial development of this research (if any).

  a.uk-button(id="proceed" href="/redirect-to-expt") I agree. Proceed to experiment
  
  script.
    console.log('hello');
    localStorage.instructionsStartTime = $.now();
    
    var uuid = $.now().toString() + Math.floor(Math.random()*100000000);
    localStorage.uuid = uuid;
    
    $('#proceed').click(function(){
      localStorage.instructionsEndTime = $.now();
    });
  