extends layout

block content
  h1 Instructions
  
  p Imagine JimmySearch is a new internet service company specialising in its web search engine. Similar to popular search engines such as Google and Yahoo, users can create a free account with JimmySearch. 

  p In order to investigate the sign-up process for this search engine, we will in the next sections of the study have you sign up for a JimmySearch account. The sign-up process for JimmySearch is typical and similar to that of other search engines. 

  p After the sign-up process is successful, you will be requested to fill in a survey as well as a post-experiment questionnaire.
  
  p Thank you!

  a.uk-button(href="/redirect-to-expt") Proceed to experiment