doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/uikit.css')
    link(rel='stylesheet', href='/stylesheets/uikit.almost-flat.css')
    link(rel='stylesheet', href='/stylesheets/components/accordion.min.css')
    link(rel='stylesheet', href='/stylesheets/components/accordion.almost-flat.min.css')
    link(rel='stylesheet', href='/stylesheets/components/datepicker.min.css')
    link(rel='stylesheet', href='/stylesheets/components/datepicker.almost-flat.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src='/javascripts/uikit.js')
    script(src='/javascripts/core/core.js')
    script(src='/javascripts/core/button.js')
    script(src='/javascripts/core/modal.js')
    script(src='/javascripts/components/accordion.js')
    script(src='/javascripts/components/datepicker.js')
    script(src='/javascripts/jquery.validate.js')
    script(src='/javascripts/additional-methods.js')

  body
    block content
