extends layout

block content
  h1 Please agree with the following to proceed with the experiment

  a.uk-button(id="agree" href="/instructions") I agree
  
  script.
    console.log('hello');
    localStorage.preInstructionsStartTime = $.now();
    $('#agree').click(function(){
      localStorage.preInstructionsEndTime = $.now();
    });
  