form.uk-form.uk-form-stacked(id="signup-form" action="/receive-form-data" method="post")
    //- input(type="hidden" value="")
    fieldset(data-uk-margin)
        legend(style="text-align: center") Sign up for JimmySearch
        p * compulsory fields. Please be reminded that all information will be kept confidential and used solely for this experiment
        .uk-form-row
            label.uk-form-label(for="form-firstname") Name * 
            input.uk-form-width-medium(type="text" name="first-name" id="form-firstname" placeholder="First Name" required minlength="2")
            input.uk-form-width-medium(type="text" name="last-name" id="form-lastname" placeholder="Last Name" required minlength="2")
        .uk-form-row
            label.uk-form-label(for="form-username") Choose you username * 
            input.uk-form-width-large(type="text" name="username" id="form-username" placeholder="username" maxlength="50" required minlength="5")
        .uk-form-row
            p(style="margin-top: 10px;") Please enter a password that is at least 6 characters long, with at least 1 number,  1 uppercase and 1 lowercase character.
            label.uk-form-label( for="form-password") Create a password * 
            input.uk-form-width-medium(type="password" name="password" id="form-password" maxlength="50" placeholder="Password" required)
            input.uk-form-width-medium(type="password" name="passwordc" id="form-passwordc" maxlength="50" placeholder="Confirm Password" required)
        .uk-form-row
            label.uk-form-label(for="form-birthday") Birthday * 
            input.uk-form-width-large(type="text" name="dob" id="form-birthday" data-uk-datepicker="{format:'DD/MM/YYYY'}" placeholder="Date of Birth")
        .uk-form-row
            label.uk-form-label Gender * 
            select.uk-form-width-large(name="gender" required)
                option(value="male") Male
                option(value="female") Female
                option(value="other") Other  
        .uk-form-row
            label.uk-form-label(for="form-phone") Mobile phone
            input.uk-form-width-large(type="number" name="phone" id="form-phone" maxlength="50")
        .uk-form-row
            label.uk-form-label(for="form-email") Your current email address
            input.uk-form-width-large(type="text" name="email" id="form-email" maxlength="50")
        .uk-form-row
            label.uk-form-label(for="form-location") Location
            input.uk-form-width-large(type="text" name="location" id="form-location")  
            input(type="hidden" name="form-type" value=form )
            input(type="hidden" name="time-started" id="time-started" value="")
            input(type="hidden" name="time-accepted" id="time-accepted" value="")
            input(type="hidden" name="is-tnc-clicked" id="is-tnc-clicked" value="")
            input(type="hidden" name="is-declined" id="is-declined" value="")
